<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2015-2021 Philip Helger (www.helger.com)
    philip[at]helger[dot]com

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <display-name>phoss-directory</display-name>
  <description>phoss Directory for PEPPOL and TOOP</description>
  
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  
  <!-- The welcome file is only required for the initial redirect -->
  <welcome-file-list>
    <welcome-file>secure</welcome-file>
  </welcome-file-list>
  
  <!-- Application specific stuff -->  
  <listener>
    <listener-class>com.helger.pd.publisher.servlet.AppWebAppListener</listener-class>
  </listener>
  
  <filter>
    <filter-name>SecureLoginFilter</filter-name>
    <filter-class>com.helger.pd.publisher.servlet.SecureLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SecureLoginFilter</filter-name>
    <url-pattern>/secure/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>SecureApplicationServlet</servlet-name>
    <servlet-class>com.helger.pd.publisher.servlet.SecureApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecureApplicationServlet</servlet-name>
    <url-pattern>/secure/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PublicApplicationServlet</servlet-name>
    <servlet-class>com.helger.pd.publisher.servlet.PublicApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicApplicationServlet</servlet-name>
    <url-pattern>/public/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AppRootServlet</servlet-name>
    <servlet-class>com.helger.pd.publisher.servlet.AppRootServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppRootServlet</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PublicSearchServlet</servlet-name>
    <servlet-class>com.helger.pd.publisher.servlet.PublicSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicSearchServlet</servlet-name>
    <url-pattern>/search/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PublicParticipantServlet</servlet-name>
    <servlet-class>com.helger.pd.publisher.servlet.PublicParticipantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicParticipantServlet</servlet-name>
    <url-pattern>/participant/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ExportServlet</servlet-name>
    <servlet-class>com.helger.pd.publisher.servlet.ExportServlet</servlet-class>
    <async-supported>true</async-supported>
    <init-param>
      <param-name>allowedExtensions</param-name>
      <param-value>*</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportServlet</servlet-name>
    <url-pattern>/export/*</url-pattern>
  </servlet-mapping>

  <!-- Jersey stuff -->
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>com.helger.pd.indexer.rest</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/indexer/*</url-pattern>
  </servlet-mapping>
</web-app>
